<html>
<head>
  <meta charset="UTF-8">
  <title>voicefy - your audio task manager</title>
</head>
<body>
  Create a new task.<br>
  <form method="POST" action='/createTask'>
    <input name="title" type="text" placeholder="title"></input>
    <input name="audioClip" type="upload" placeholder="audio"></input>
    <input type="hidden" name="author" value="jocnjr"></input>
    <input type='submit' value="create">
  </form>
      <ul>
    <% tasks.forEach(function(task) { %>
      <li>
      <%= task.title %>
      <%= task.audioClip %>      
      </li>
    <% }) %>
    </ul>
    <hr>
    <ul>
    <% users.forEach(function(user) { %>
      <li>
      <%= user.username %>
      <%= user.password %>
      <img src="<%= user.profileImage %>">      
      </li>
    <% }) %>
    </ul>
</body>
</html>